.left-side {
  margin-top: 40px; }
  .left-side .announcemnent {
    box-shadow: 1px 2px 10px 2px #ccc;
    background-color: #fff;
    color: #727272; }
    .left-side .announcemnent .news-part {
      border-top: 1px #ccc solid;
      border-bottom: 1px #ccc solid;
      display: flex;
      justify-content: flex-start;
      padding-top: 10px; }
      .left-side .announcemnent .news-part .news-part-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: bold;
        padding-left: 10px;
        width: 70px; }
      .left-side .announcemnent .news-part .news-part-right {
        line-height: 1.1em; }
        .left-side .announcemnent .news-part .news-part-right p:nth-child(1) {
          font-weight: 600;
          color: #000; }
        .left-side .announcemnent .news-part .news-part-right p:nth-child(2) {
          color: #727272; }
    .left-side .announcemnent .title {
      display: flex;
      justify-content: space-between;
      min-height: 60px;
      padding: 0px 15px; }
      .left-side .announcemnent .title h5 {
        color: #0288d1;
        font-weight: bold; }
      .left-side .announcemnent .title small {
        color: #03a9f4; }
    .left-side .announcemnent .gender {
      display: flex;
      align-items: center; }
      .left-side .announcemnent .gender span:nth-child(1) {
        border-left: 3px #03a9f4 solid;
        padding-left: 7px;
        margin-right: 31px; }
      .left-side .announcemnent .gender span:nth-child(2) {
        border-left: 3px #ffc107 solid;
        padding-left: 7px; }
  .left-side #messages-courses {
    margin-top: 35px; }
    .left-side #messages-courses .head-message-corses {
      background-color: #03a9f4;
      color: #fff;
      padding: 10px 15px; }
      .left-side #messages-courses .head-message-corses h4 {
        margin: 0;
        padding: 0; }
      .left-side #messages-courses .head-message-corses p {
        padding: 0;
        margin: 0; }
      .left-side #messages-courses .head-message-corses .plus-circle {
        width: 30px;
        height: 30px;
        background-color: #ffc107;
        border-radius: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 5%;
        top: 14%; }
        .left-side #messages-courses .head-message-corses .plus-circle span {
          font-size: 18px; }
    .left-side #messages-courses .messages, .left-side #messages-courses .courses {
      box-shadow: 1px 2px 10px 2px #ccc;
      padding: 0;
      background-color: #fff; }
    .left-side #messages-courses .activeDanger {
      border-left: 4px #ef5350 solid; }
    .left-side #messages-courses .conversations {
      padding-top: 10px;
      padding-bottom: 10px;
      min-height: 66px;
      line-height: 0.6em;
      display: flex;
      border-bottom: 1px #ccc solid; }
      .left-side #messages-courses .conversations .vertical {
        display: inline-block;
        width: 15%;
        height: 25px;
        -webkit-transform: rotate(-90deg);
        /* Chrome, Safari, Opera */
        transform: rotate(-90deg); }
        .left-side #messages-courses .conversations .vertical span {
          display: block;
          transform: rotate(90deg);
          color: #000;
          position: absolute;
          left: 45%;
          font-size: 12px;
          top: 14%; }
      .left-side #messages-courses .conversations .yellow .progress-bar {
        background-color: #ffc107; }
      .left-side #messages-courses .conversations .mainClr .progress-bar {
        background-color: #03a9f4; }
      .left-side #messages-courses .conversations .dangerClr .progress-bar {
        background-color: #ef5350; }
      .left-side #messages-courses .conversations p:nth-child(1) {
        font-weight: bold; }
      .left-side #messages-courses .conversations p:nth-child(2) {
        color: #727272; }
      .left-side #messages-courses .conversations p:nth-child(3) {
        color: #727272; }
      .left-side #messages-courses .conversations div:nth-child(3) {
        padding-left: 10px; }
      .left-side #messages-courses .conversations small {
        font-size: 10px;
        opacity: 0.6; }
      .left-side #messages-courses .conversations .circleActive, .left-side #messages-courses .conversations .circleDesactive {
        width: 10px;
        height: 10px;
        background-color: #cddc39;
        position: relative;
        left: 4%;
        border-radius: 50%; }
      .left-side #messages-courses .conversations .circleDesactive {
        background-color: #f4511e; }

#sidebar .header {
  background-color: #0288d1;
  height: 60px; }
  #sidebar .header .navbar {
    margin: 0px; }
    #sidebar .header .navbar li > a {
      padding-top: 11px; }
  #sidebar .header .navbar-header a {
    color: #fff;
    padding-top: 20px; }
    #sidebar .header .navbar-header a:hover {
      color: #fafafa; }
  #sidebar .header a:hover {
    background-color: unset; }

#sidebar .sidebar {
  background-color: #03a9f4;
  height: 100vh;
  padding-right: 0px; }
#sidebar .ava {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px; }
  #sidebar .ava p {
    font-size: 12px;
    opacity: 0.8; }
  #sidebar .ava a {
    color: #fff;
    text-decoration: none;
    border: 1px #fff solid;
    border-radius: 10px;
    padding: 3px 20px; }
#sidebar .menu {
  font-size: 14px; }
  #sidebar .menu .active {
    background-color: #0288d1;
    border-left: 4px #ffc107 solid; }
  #sidebar .menu li {
    list-style: none;
    padding: 15px 0px 15px 25px; }
    #sidebar .menu li:first-child {
      margin-top: 21px; }
    #sidebar .menu li .fa {
      font-size: 2.5rem;
      padding-right: 30px; }
  #sidebar .menu a {
    color: #fff; }

body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
  font-weight: 100; }
  body ul {
    padding: 0px;
    margin: 0px; }
  body .container-fluid {
    padding-left: 0px; }
  body .active {
    border-left: 4px #ffc107 solid; }
  body .active2 {
    border-left: 4px #03a9f4 solid; }
  body #main-section {
    overflow-y: auto;
    overflow-x: hidden; }

/*# sourceMappingURL=main.css.map */
