$bodyFont:'Roboto',
sans-serif;
$bodyBg: #fafafa;
$sideBarBg: #03a9f4;
$mainClr: #03a9f4;
$headerBg: #0288d1;
$hoverLinkCllr: #fafafa;
$activeBg: #0288d1;
$activeBorder: #ffc107;
$activeBorder2:#03a9f4;
$titleOnWhite: #0288d1;
$textOnWhite: #727272;
$titleBg: #03a9f4;
$activeOnSite: #cddc39;
$disactiveOnSite: #f4511e;
$dangerBorder: #ef5350;
$plusColor: #ffc107;