#sidebar .header {
    background-color: $headerBg;
    height: 60px;
    .navbar {
        margin: 0px;
        li>a {
            padding-top: 11px;
        }
    }
    .navbar-header a {
        color: #fff;
        padding-top: 20px;
        &:hover {
            color: $hoverLinkCllr;
        }
    }
    a:hover {
        background-color: unset;
    }
}