.left-side {
    margin-top: 40px;
    .announcemnent {
        box-shadow: 1px 2px 10px 2px #ccc;
        background-color: #fff;
        color: $textOnWhite;
        .news-part {
            border-top: 1px #ccc solid;
            border-bottom: 1px #ccc solid;
            display: flex;
            justify-content: flex-start;
            padding-top: 10px;
            .news-part-left {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-weight: bold;
                padding-left: 10px;
                width: 70px;
            }
            .news-part-right {
                line-height: 1.1em;
                p:nth-child(1) {
                    font-weight: 600;
                    color: #000;
                }
                p:nth-child(2) {
                    color: $textOnWhite;
                }
            }
        }
        .title {
            display: flex;
            justify-content: space-between;
            min-height: 60px;
            padding: 0px 15px;
            h5 {
                color: $titleOnWhite;
                font-weight: bold;
            }
            small {
                color: #03a9f4;
            }
        }
        .gender {
            display: flex;
            align-items: center;
            span:nth-child(1) {
                border-left: 3px $activeBorder2 solid;
                padding-left: 7px;
                margin-right: 31px;
            }
            span:nth-child(2) {
                border-left: 3px $activeBorder solid;
                padding-left: 7px;
            }
        }
    }
    #messages-courses {
        margin-top: 35px;
        .head-message-corses {
            background-color: $titleBg;
            color: #fff;
            padding: 10px 15px;
            h4 {
                margin: 0;
                padding: 0;
            }
            p {
                padding: 0;
                margin: 0;
            }
            .plus-circle {
                width: 30px;
                height: 30px;
                background-color: $plusColor;
                border-radius: 50%;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: 5%;
                top: 14%;
                span {
                    font-size: 18px;
                }
            }
        }
        .messages {
            box-shadow: 1px 2px 10px 2px #ccc;
            padding: 0;
            background-color: #fff;
        }
        .courses {
            @extend .messages;
        }
        .activeDanger {
            border-left: 4px $dangerBorder solid;
        }
        .conversations {
            padding-top: 10px;
            padding-bottom: 10px;
            min-height: 66px;
            line-height: 0.6em;
            display: flex;
            border-bottom: 1px #ccc solid;
            .vertical {
                display: inline-block;
                width: 15%;
                height: 25px;
                -webkit-transform: rotate(-90deg);
                /* Chrome, Safari, Opera */
                transform: rotate(-90deg);
                span {
                    display: block;
                    transform: rotate(90deg);
                    color: #000;
                    position: absolute;
                    left: 45%;
                    font-size: 12px;
                    top: 14%;
                }
            }
            .yellow .progress-bar {
                background-color: $plusColor;
            }
            .mainClr .progress-bar {
                background-color: $sideBarBg;
            }
            .dangerClr .progress-bar {
                background-color: $dangerBorder;
            }
            p:nth-child(1) {
                font-weight: bold;
            }
            p:nth-child(2) {
                color: $textOnWhite;
            }
            p:nth-child(3) {
                color: $textOnWhite;
            }
            div:nth-child(3) {
                padding-left: 10px;
            }
            small {
                font-size: 10px;
                opacity: 0.6;
            }
            .circleActive {
                width: 10px;
                height: 10px;
                background-color: $activeOnSite;
                position: relative;
                left: 4%;
                border-radius: 50%;
            }
            .circleDesactive {
                @extend .circleActive;
                background-color: $disactiveOnSite;
            }
        }
    }
}

.right-side {
    margin-top: 40px;
    .calendar {
        box-shadow: 1px 2px 10px 2px #ccc;
        background-color: #fff;
        height: 246px;
    }
    .forum {
        .number {
            min-width: 7%;
        }
        display: flex;
        flex-direction: column;
        margin-top: 35px;
        .scroll {
            content: '';
            width: 10%;
            min-height: 326px;
            border-left: 2px red solid;
            display: flex;
        }
        .forum_1 {
            display: flex;
            @extend .calendar;
            height: 60px;
            width: 90%;
            margin-left: 10%;
            .text {
                padding-left: 6px;
            }
            .number {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                span {
                    background-color: $mainClr;
                    color: #fff;
                    padding: 5px;
                    &:nth-child(1) {
                        border-bottom: 2px #fff solid;
                    }
                }
            }
        }
        .forum_2 {
            margin-top: 30px;
            .number {
                span {
                    background-color: $plusColor !important;
                    color: #fff;
                    padding: 5px;
                    &:nth-child(1) {
                        border-bottom: 2px #fff solid;
                    }
                }
            }
        }
        .forum_3 {
            margin-top: 0px;
            box-shadow: 1px 7px 12px 2px #ccc;
        }
        .forum_4 {
            margin-top: 30px;
        }
    }
}